<div class="card h-100 overflow-auto card-item">
    <div class="card-body">
        <DxPieChart Data="salesUS" CssClass="h-100" InnerDiameter="0.5">
            <DxChartTitle Text="Total Sales in United States, $ " />
            <DxChartLegend Orientation="Orientation.Horizontal"
                           HorizontalAlignment="HorizontalAlignment.Right"
                           Position="RelativePosition.Inside" />
            <DxPieChartSeries ValueField="@((SaleInfo i) => i.Amount)" ArgumentField="@(i => i.City)" SummaryMethod="Enumerable.Sum">
                <DxChartSeriesLabel Visible="true" />
            </DxPieChartSeries>
        </DxPieChart>
    </div>
</div>

@code {
    IEnumerable<SaleInfo> salesUS;
    [Parameter] public IEnumerable<SaleInfo> Sales { get; set; }
    protected override void OnInitialized() {
        base.OnInitialized();
        salesUS = Sales.Where(x => x.Country == "United States");
    }
}
