<div class="card h-100 overflow-hidden card-item">
    <div class="card-body">
        <DxChart Data="salesUS" CssClass="h-100">
            <DxChartTitle Text="Total Sales in United States, $ " />
            <DxChartLegend Orientation="Orientation.Horizontal"
                           HorizontalAlignment="HorizontalAlignment.Right"
                           Position="RelativePosition.Inside" />
            <DxChartDonutSeries ValueField="@((SaleInfo i) => i.Amount)" ArgumentField="@(i => i.City)" AggregationMethod="Enumerable.Sum">
                <DxChartSeriesLabel Visible="true" />
            </DxChartDonutSeries>
        </DxChart>
    </div>
</div>

@code {
    IEnumerable<SaleInfo> salesUS;
    [Parameter] public IEnumerable<SaleInfo> Sales { get; set; }
    protected override void OnInitialized() {
        base.OnInitialized();
        salesUS = Sales.Where(x => x.Country == "United States");
    }
}
