 <div class="h-100">
    <DxGrid Data="Sales" CssClass="demo-adaptivity-grid text-nowrap h-100" PageSize="15">
        <Columns>
            <DxGridDataColumn FieldName="Region" />
            <DxGridDataColumn FieldName="Country" />
            <DxGridDataColumn FieldName="City" />
            <DxGridDataColumn FieldName="Amount" />
            <DxGridDataColumn FieldName="ProductName" Caption="Product" />
            <DxGridDataColumn FieldName="Date" />
        </Columns>
    </DxGrid>
</div>

@code {
    [Parameter] public IEnumerable<SaleInfo> Sales { get; set; }
}