<div id="applicationLoadingPanel" class="loading-items-center loading-font" style="height: 100vh; width: 100vw; background-color: #fff;">
    <div class="loading-items-center" style="flex-direction: column">
        <div class="loading position-relative loading-items-center" style="position: relative">
            <div class="loading-border border-secondary" style="position: absolute; border-color: #d9d9d9; height: 100%; width: 100%; border-radius: 50%"></div>
            <div class="spinner-border loading-boarder border-primary loading-border-primary" style="position: absolute; height: 100%; width: 100%; border-radius: 50%; border-left-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important"></div>
            <div id="loadingBackground" class="loading-image-wrapper text-white bg-primary loading-items-center" style="color: #fff; border-radius: 50%"></div>
        </div>
        <div class="loading-caption mt-4">DevExpress UI for Blazor</div>
        <div class="loading-sm-text text-muted mt-2" style="color: #a1a1a1">Loading...</div>
    </div>
</div>