@page "/"
@inject SaleInfoService SaleInfoService

@if(salesData == null) {
    <LoadingPanel />
} else {
    <DxLayoutBreakpoint MaxWidth="779" @bind-IsActive="@isSmallScreen" />
    <DxLayoutBreakpoint MinWidth="780" MaxWidth="1199" @bind-IsActive="@isMediumScreen" />
    <div class="p-3 w-100 h-100 overflow-auto">
        <DxGridLayout ColumnSpacing="1rem" RowSpacing="1rem">
            <Rows>
                @if(isLargeScreen) {
                    <DxGridLayoutRow Areas="salesDataTable salesByCountry salesInUS" Height="508px" />
                    <DxGridLayoutRow Areas="salesByCity salesByCity salesByCity" />
                }
                @if(isMediumScreen) {
                    <DxGridLayoutRow Areas="salesDataTable salesByCountry" Height="250px" />
                    <DxGridLayoutRow Areas="salesDataTable salesInUS" Height="250px" />
                    <DxGridLayoutRow Areas="salesByCity salesByCity" Height="1fr" />
                }
                @if(isSmallScreen) {
                    <DxGridLayoutRow Areas="salesDataTable" Height="auto" />
                    <DxGridLayoutRow Areas="salesByCity" Height="auto" />
                    <DxGridLayoutRow Areas="salesByCountry" Height="auto" />
                    <DxGridLayoutRow Areas="salesInUS" Height="auto" />
                }
            </Rows>
            <Columns>
                @if(isLargeScreen) {
                    <DxGridLayoutColumn />
                    <DxGridLayoutColumn />
                    <DxGridLayoutColumn />
                }
                @if(isMediumScreen) {
                    <DxGridLayoutColumn />
                    <DxGridLayoutColumn />
                }
                @if(isSmallScreen) {
                    <DxGridLayoutColumn />
                }
            </Columns>
            <Items>
                <DxGridLayoutItem Area="salesDataTable">
                    <Template>
                        <SalesDataGrid Sales="salesData" />
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="salesByCountry">
                    <Template>
                        <SalesByCountryChart Sales="salesData" />
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="salesInUS">
                    <Template>
                        <SalesInUSChart Sales="salesData" />
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Area="salesByCity">
                    <Template>
                        <SalesByCityChart Sales="salesData" />
                    </Template>
                </DxGridLayoutItem>
            </Items>
        </DxGridLayout>
    </div>
}

@code {
    System.Collections.ObjectModel.ObservableCollection<SaleInfo> salesData;
    bool isSmallScreen;
    bool isMediumScreen;
    bool isLargeScreen => !(isSmallScreen || isMediumScreen);

    protected override void OnInitialized() {
        salesData = new System.Collections.ObjectModel.ObservableCollection<SaleInfo>(SaleInfoService.GetSaleInfos());
    }
}
